@import '~@angular/material/theming';
@import 'variables';
@import '~ng2-dnd/bundles/style.css';

:host {
  margin: 1.5em 1.5em 1em;

  ::ng-deep .dnd-drag-start {
    transform: scale(0.9);
  }

  > header,
  > .mat-nav-list,
  > footer {
    // to make activated router border visible with overflow hidden
    padding-left: 2px;
  }

  > header {
    flex: 0 0 auto;
    height: 96px;
    padding: 1em;

    color: rgba(white, 0.85);
    background-color: $color-dark;
  }

  > .mat-nav-list {
    flex: 1 1 auto;
    overflow-x: visible;
    overflow-y: hidden;

    &:hover {
      overflow-y: auto;
    }
  }

  .mat-nav-list {
    padding-top: 0;

    .group,
    .question {

      @include mat-elevation(1);
    }

    .group:first-child,
    .group:last-child,
    .question:first-child,
    .question:last-child {
      margin: 0;
    }

    .group,
    .question:not(:hover) {
      background-color: white;
    }

    .group-action {
      border-top: 2px dotted rgba(black, 0.125);
    }

    .question,
    .group-question,
    .group-title {
      &.active {
        margin-left: -2px;
        border-left: 2px solid $color-blue;

        color: $color-blue;
      }
    }
  }

  > footer {
    display: flex;
    flex: 0 0 auto;
    margin-top: 1em;

    .mat-button {
      border: 2px dotted rgba(black, 0.35);

      background-color: white;

      &:first-child {
        flex: 1 1 auto;

        text-align: left;
      }

      &:last-child {
        min-width: auto;
        margin-left: 0.5em;
      }
    }
  }
}
