<header>
  <span>ZEF Assignment</span>
  <br>
  <span>questions:
    <var>{{ (state.questions$ |async).length }}</var>
  </span>
  <br>
  <span>groups:
    <var>{{ (state.groups$ |async).length }}</var>
  </span>
</header>

<mat-nav-list>
  <collection [data]="state.slides$ |async" [itemTemplate]="question"
    [groupTemplate]="group">
  
    <div dnd-droppable style="height: 1em" (onDropSuccess)="dropSlide($event.dragData)"></div>
  
  </collection>
</mat-nav-list>

<footer>

  <button mat-button (click)="appendSlide()">
    <mat-icon class="color-green">add_circle_outline</mat-icon>
    <span style="font-size: 16px">Add Question</span>
  </button>

  <button mat-button (click)="appendGroup()">
    <mat-icon class="color-gray">layers</mat-icon>
  </button>

</footer>

<!-- Group Template -->
<ng-template #group let-item let-children="children">

  <hover-action dnd-droppable [key]="item.key" (onDropSuccess)="dropSlide($event.dragData, item)">
    <ng-container *ngTemplateOutlet="popup; context: { $implicit: item }"></ng-container>
  </hover-action>

  <mat-nav-list class="group" dnd-draggable [dragData]="item">
    <a mat-list-item class="group-title" [routerLink]="['/build', item.key]"
      routerLinkActive="active">
      <mat-icon mat-list-icon>layers</mat-icon>
      <span mat-line>{{ item.title }}</span>
    </a>

    <mat-divider></mat-divider>

    <a *ngFor="let child of children" mat-list-item class="group-question"
      [routerLink]="['/build', child.key]" routerLinkActive="active">
      <mat-icon mat-list-icon>check</mat-icon>
      <span mat-line>{{ child.title }}</span>
    </a>

    <mat-list-item class="group-action" (click)="addToGroup(item)">
      <mat-icon mat-list-icon class="color-green">add_circle_outline</mat-icon>
      <span mat-line i18n="button label">Add Question to Group</span>
    </mat-list-item>
  </mat-nav-list>

</ng-template>

<!-- Question Template -->
<ng-template #question let-item>

  <hover-action dnd-droppable [key]="item.key" (onDropSuccess)="dropSlide($event.dragData, item)">
    <ng-container *ngTemplateOutlet="popup; context: { $implicit: item }"></ng-container>
  </hover-action>

  <a mat-list-item class="question" dnd-draggable [dragData]="item"
    [routerLink]="['/build', item.key]" routerLinkActive="active">
    <mat-icon mat-list-icon>check</mat-icon>
    <span mat-line>{{ item.title }}</span>
  </a>

</ng-template>

<!-- Popup buttons -->
<ng-template #popup let-item>

  <button mat-icon-button (click)="insertSlide(item)">
    <mat-icon class="color-green">add_circle_outline</mat-icon>
  </button>

  <button mat-icon-button (click)="insertGroup(item)">
    <mat-icon class="color-gray">layers</mat-icon>
  </button>

</ng-template>
