<div #overlayOrigin="cdkOverlayOrigin" cdkOverlayOrigin fxFill
  class="wrapper"></div>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayOpen]="(state.popup$ |async) === key" [cdkConnectedOverlayPositions]="positions">

  <hover-action-popup>
    <ng-content></ng-content>
  </hover-action-popup>

</ng-template>
