<ng-container *ngFor="let item of items; trackBy: trackByKey">
  <ng-container *ngTemplateOutlet="isGroup(item) ? groupTemplate : itemTemplate; context: ctx(item);">
  </ng-container>
</ng-container>

<ng-content></ng-content>