@import 'variables';

:host {
  .mat-card {
    overflow: hidden;
    height: calc(100% - 64px);

    background: linear-gradient($color-light, $color-blue);
  }

  .button-wrapper,
  .group-wrapper,
  .question-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    height: 80%;

    > button {
      margin: 0 1em 1em;
      border-radius: 0.5em;
    }
  }

  .button-wrapper {
    padding-top: 1.5em;
  }

  .group-wrapper {
    background-color: $color-dark;
  }

  h2 {
    position: absolute;
    top: 1em;
    right: 0;
    left: 0;

    display: none;
    padding: 0.25em 1em;
    margin: 0;

    text-align: center;
    color: white;
    background-color: $color-blue-dark;
  }

  .swiper-slide-active h2 {
    display: block;
  }

  .swiper-slide-next {
    transform: translate3d(0, -20%, 0);
  }

  .swiper-slide-prev {
    transform: translate3d(0, 20%, 0);
  }

  .swiper-wrapper {
    display: block;
  }
}
