<mat-card class="swiper-container" swiper (indexChange)="updateRoute($event)">
  <collection class="swiper-wrapper" [data]="data" [itemTemplate]="question"
    [groupTemplate]="group">

    <div class="swiper-slide button-wrapper">
      <button mat-raised-button (click)="appendSlide()">
        <mat-icon class="color-green">add_circle_outline</mat-icon>
        <span style="font-size: 16px" i18n="button label">Add Question</span>
      </button>
    </div>

  </collection>
</mat-card>

<!-- Group Template -->
<ng-template #group let-item let-children="children" let-last="last">

  <div class="swiper-slide">
    <div class="group-wrapper">
      <h2 style="display: block; top: 0;">{{ item.title }}</h2>
      <editor-form class="group" [data]="item"> </editor-form>

      <button *ngIf="!children.length" mat-raised-button (click)="addToGroup(item)">
        <mat-icon class="color-green">add_circle_outline</mat-icon>
        <span style="font-size: 16px" i18n="button label">Add Question to Group</span>
      </button>
    </div>
  </div>

  <div *ngFor="let child of children; last as groupend;" class="swiper-slide">
    <div class="group-wrapper">
      <h2>{{ item.title }}</h2>
      <editor-form class="question" [data]="child"> </editor-form>

      <button *ngIf="groupend" mat-raised-button (click)="addToGroup(item)">
        <mat-icon class="color-green">add_circle_outline</mat-icon>
        <span style="font-size: 16px" i18n="button label">Add Question to Group</span>
      </button>
    </div>
  </div>

</ng-template>

<!-- Question Template -->
<ng-template #question let-item let-last="last">

  <div class="swiper-slide">
    <div class="question-wrapper">
      <editor-form class="question" [data]="item"> </editor-form>
    </div>
  </div>

</ng-template>
