@import 'variables';

:host {
  flex: 1 1 auto;
  padding: 3em;
  margin: 1em;
  border-radius: 0.5em;

  ::ng-deep .mat-form-field {
    width: 100%;
  }

  &.group {
    color: white;
    background-color: rgba($color-blue-dark, 0.42);

    ::ng-deep .mat-form-field-underline {
      background-color: rgba(white, 0.42);
    }
  }

  &.question {
    background-color: white;
  }
}
