<form (submit)="false">

  <mat-form-field floatPlaceholder="never">
    <input #title matInput placeholder="Title" [value]="data.title" i18n-placeholder="form field placeholder |question title">
  </mat-form-field>

  <br>

  <button mat-raised-button color="primary" (click)="updateSlide({ title: title.value })">Save</button>
  <button mat-icon-button color="warn" (click)="removeSlide()">
    <mat-icon>delete</mat-icon>
  </button>

</form>
