@import 'variables';

// Fixes for material design
:host {
  ::ng-deep .mat-tab-links {
    display: flex;
  }

  ::ng-deep .mat-tab-link {
    flex: 1 1 auto;
    min-width: auto;
  }

  ::ng-deep .mat-tab-label-active {
    font-weight: bold;
  }

  .mat-sidenav-container {
    background-color: $color-light;
  }

  .mat-sidenav {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 320px;

    background-color: transparent;
  }

  .mat-sidenav-content {
    overflow: hidden;
    padding: 1.5em 1em 1em 1.5em;
  }
}
