<mat-toolbar>ZEF Assignment</mat-toolbar>

<mat-sidenav-container fxFill>
  <mat-sidenav mode="side" opened="true" disableClose fixedInViewport="true" fixedTopGap="64">
    <nav mat-tab-nav-bar>
      <a mat-tab-link routerLink="build" routerLinkActive #build="routerLinkActive"
        [active]="build.isActive" i18n="navigation link">Build</a>
      <a mat-tab-link routerLink="design" routerLinkActive #design="routerLinkActive"
        [active]="design.isActive" i18n="navigation link">Design</a>
      <a mat-tab-link routerLink="setup" routerLinkActive #setup="routerLinkActive"
        [active]="setup.isActive" i18n="navigation link">Setup</a>
    </nav>

    <div class="column-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <editor [data]="state.slides$ |async"></editor>
  </mat-sidenav-content>
</mat-sidenav-container>
