/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';

body,
html {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: $color-light;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;

  background-color: $color-dark;
}

.column-container {
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
  flex-direction: column;
}

.color-green {
  color: $color-green;
}

.color-gray {
  color: $color-dark;
}
